.circle-init {
  width: calc(60vw / 7);
  height: calc(60vw / 7);
  border-radius: 50%;
  position: absolute;
  left: calc(50vw - (60vw/14));
  bottom: calc(-100vh - (60vw/7));
}

.circle {
  width: calc(60vw / 7);
  height: calc(60vw / 7);
  border-radius:50%;
  position: absolute;
}

.firstRowStatic .circle {
  bottom: calc(-50vh - 1.427vw);
}

.secondRowStatic .circle {
  bottom: calc(-50vh + 8.57vw);
}

.firstRowStatic .s {
  background-color: #e57373;
  left: calc(15.62vw);
}

.firstRowStatic .p {
  background-color: #ef5350;
  left: calc(25.70vw);
}

.firstRowStatic .e1 {
  background-color: #f44336;
  left: calc(35.5vw);
}

h1 {
  text-align: center;
  vertical-align: middle;
  line-height: calc(60vw / 7);
  font-size: calc(60vw / 7/2);
  font-family: sans-serif;
  color:white;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.firstRow .s {
  background-color: #e57373;
}

.firstRow .p {
  background-color: #ef5350;
}

.firstRow .e1 {
  background-color: #f44336;
}

.firstRow .n {
  background-color: #e53935;
}

.firstRow .c {
  background-color: #d32f2f;
}

.firstRow .e2 {
  background-color: #c62828;
}

.firstRow .r {
  background-color: #b71c1c;
}

.secondRow .t {
  background-color: #ffca28;
}

.secondRow .a {
  background-color: #ffc107;
}

.secondRow .y {
  background-color: #ffb300;
}

.secondRow .l {
  background-color: #ffa000;
}

.secondRow .o {
  background-color: #ff8f00;
}

.secondRow .r {
  background-color: #ff6f00;
}
